@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap');


body{
    text-align: center;
    font-size: 20px;
    background-color: #4e6881;
    color: white;
}

h1,h2,h3,h4,h5{
    font-family: 'Oswald';
}

p{
    font-family: 'Righteous';
}
.profile img{
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 50%;
    margin-top: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    font-family: monospace;
}
.btn{
    color: white;
    width:25%;
    background: transparent;
    outline: none;
    border: 2px solid white;
    padding: 8px 15px;
    border-radius: 10px;
    font-family: Tahoma;
}

.btn:hover{
    background-color: #808B96;
    color: black;
}

#icon{
    width: 38px;
}

#icon:hover{
    width: 35px;
}

#box2{
    background-color: #808B96;
}
#box3{
    margin-top: 2rem;
    background-color: #808B96;
}

.title-fade-in{
    opacity: 100;
    animation: fade-in 2s;
}

.title-fade-out{
    opacity: 0;
    animation: fade-out 2s;
}

@keyframes fade-in{
    from{opacity:0}
    to{opacity: 100}
}

@keyframes fade-out{
    from{opacity:100}
    to{opacity: 0}
}